body {
	text-align: center;
	font-family: "Courier New";
	background-color: dimgray;
	background-image: url("250px-068Machamp.png");
	background-size: cover;
}

h1 {
	color: gainsboro;
}

p {
	color: maroon;
}

img.logo {
	height: 22px;
	width: 22px;
	vertical-align: middle;
}

.footer {
	position: fixed;     
    text-align: center;    
    bottom: 5px; 
    width: 100%;
}

